.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #073042;
  max-width: 1280px;
  width: 100%;
  margin: 0;

  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .promo {
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px) {
  .promo {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    max-width: 320px;
  }
}

.promo__box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  max-width: 1140px;
  width: 100%;
  /*padding-top: 50px;*/
  padding-bottom: 60px;
}

@media screen and (max-width: 984px) {
  .promo__box {
    max-width: 680px;
  }
}

@media screen and (max-width: 768px) {
  .promo__box {
    padding-bottom: 40px;
  }
}

.promo__title {
  width: 626px;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
  margin: 0 0 102px;
  color: #fff;
}

@media screen and (max-width: 1152px) {
  .promo__title {
    max-width: 884px;
  }
}

@media screen and (max-width: 984px) {
  .promo__title {
    max-width: 680px;
    width: 100%;
    margin: 300px 0 140px;
    align-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
    margin: 183px 0 60px;
  }
}

.promo__image {
  margin-left: auto;
  background-size: contain;
  background-repeat: no-repeat;
  width: 722px;
  display: block;
  object-fit: cover;
}

/*
@media screen and (max-width: 1152px) {
  .promo__image {
    max-width: 722px;
  }
}*/

@media screen and (max-width: 984px) {
  .promo__image {
    max-width: 680px;
    width: 100%;
    height: 230px;
    margin: 0;
    align-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .promo__image {
    max-width: 320px;
  }
}