.footer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .footer {
    max-width: 768px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 79px 70px 20px;
}

@media screen and (max-width: 984px) {
  .footer__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 568px) {
  .footer__container {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 40px;
  }
}

.footer__title {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #a0a0a0;
  padding: 0 0 20px;
  border-bottom: 1px #e8e8e8 solid;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .footer__title {
    width: 300px;
    font-size: 12px;
    padding-bottom: 19px;
  }
}

.footer__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 568px) {
  .footer__info {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 28px;
  }
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
    color: #a0a0a0;
  }
}

.footer__box {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-bottom: 30px;
  }
}

.footer__links {
  padding: 0;
  margin-right: 20px;
}

.footer__links:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .footer__links {
    margin: 0 0 8px;
  }

  .footer__links:last-child {
    margin: 0;
  }
}

.footer__link {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 12px;
  }
}