.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-style: normal;
}