.filter-checkbox__toggle {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 48px;
}

@media screen and (max-width: 984px) {
  .filter-checkbox__toggle {
    margin-bottom: 60px;
  }
}

.filter-checkbox__container {
  width: 36px;
  height: 20px;
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 2px 2px #e5e5e8);
  cursor: pointer;
}

.filter-checkbox__icon {
  display: none;
}

.filter-checkbox__slider {
  border-radius: 16px;
  background-color: #2be080;
  position: absolute;
  transition: 0.6s;
  transform: scale(-1, -1);
  inset: 0;
}

.filter-checkbox__slider::before {
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 1px;
  bottom: 1px;
  border: 1px solid #fff;
}

.filter-checkbox__icon:checked + .filter-checkbox__slider {
  background-color: #000;
}

.filter-checkbox__icon:checked + .filter-checkbox__slider::before {
  transform: translateX(16px);
}

.filter-checkbox__shortfilms {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 0 13px;
}

@media screen and (max-width: 984px) {
  .filter-checkbox__shortfilms {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .filter-checkbox__shortfilms {
    font-size: 11px;
    margin-left: 13px;
  }
}
